<div class="header">
  <a href="<%- theme.header.path %>">
    <img
      class="header_desktop"
      src="<%- theme.header.photo %>"
      alt="<%- theme.header.alt %>"
    >
    <img
      class="header_mobile"
      src="<%- theme.header.photo_mobile %>"
      alt="<%- theme.header.alt %>"
    >
  </a>
</div>
